@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model ByufegFilter
    
      <div class="container">
          <form asp-action="Data" method="post">



              <div class="form-group col">
                  <label asp-for="burial">Burial Location</label>
                  <select class="form-control" asp-for="burial" asp-items="ViewBag.Burials"><option value="" selected></option></select>

              </div>

              <div class="form-group col">
                  <label asp-for="burialdepth">Burial Depth</label>
                  <input class="form-control" asp-for="burialdepth" />

              </div>

              <div class="form-group col ">
                  <label asp-for="burialsituation">Burial Situation</label>
                  <input class="form-control" asp-for="burialsituation" />

              </div>

              <div class="form-group col ">
                  <label asp-for="lengthofremains">Remain length</label>
                  <input class="form-control" asp-for="lengthofremains" />
              </div>

              <div class="form-group col">
                  <label asp-for="gender">Gender</label>
                  <select class="form-control" asp-for="gender" asp-items="ViewBag.Genders"></select>
              </div>

              <div class="form-group col">
                  <label asp-for="haircolor">Hair Color</label>
                  <select class="form-control" asp-for="haircolor" asp-items="ViewBag.HairColors"></select>
              </div>

              <div class="form-group col">
                  <label asp-for="itemtaken">Item taken</label>
                  <select class="form-control" asp-for="itemtaken">
                      <option value=""></option>
                      <option value="True">Yes</option>
                      <option value="False">No</option>
                  </select>
              </div>

              <div class="form-group col">
                  <label asp-for="hasartifact">Has artifact</label>
                  <select class="form-control" asp-for="hasartifact">
                      <option value=""></option>
                      <option value="True">Yes</option>
                      <option value="False">No</option>
                  </select>
              </div>

              <div class="form-group col">
                  <label asp-for="headdirection">Head Direction</label>
                  <select class="form-control" asp-for="headdirection" asp-items="ViewBag.HeadDirections"></select>
              </div>

              <div class="form-group col">
                  <label asp-for="estimatedage">Estimated age</label>
                  <input class="form-control" asp-for="estimatedage" />
              </div>

              <div class="form-group col">
                  <label asp-for="estimatedheight">Estimated height</label>
                  <input class="form-control" asp-for="estimatedheight" />
              </div>

              <div class="form-group col">
                  <label asp-for="datefoundbegin">Date found begin</label>
                  <input class="form-control" asp-for="datefoundbegin" />
              </div>

              <div class="form-group col">
                  <label asp-for="datefoundend">Date found end</label>
                  <input class="form-control" asp-for="datefoundend" />
              </div>

              <br />
              <br />

              <button type="submit" class="btn btn-primary w-100">Filter</button>


          </form>
    </div>        
