@{
    ViewData["Title"] = "Data Entry";
}

<div class="text-center">
    <h1>Enter Data Here.</h1>
</div>


<form>
    <!--BURIAL INFO FORM-->
    <p>
        <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#burialInfo" aria-expanded="false" aria-controls="burialInfo">
            Burial Information
        </button>
    </p>
    <div class="collapse" id="burialInfo">
        <!--asp-action="AddRecord" method="post"-->
        <div class="form-group">
            <label>Burial Location N/S</label>
            <input />
            <span><!--asp-validation--></span>
        </div>

        <div class="form-group">
            <label>Pair N/S</label>
            <input />
            <span><!--asp-validation--></span>
        </div>

        <div class="form-group">
            <label>Burial Location E/W</label>
            <input />
            <span><!--asp-validation--></span>
        </div>

        <div class="form-group">
            <label>Pair E/W</label>
            <input />
            <span><!--asp-validation--></span>
        </div>

        <div class="form-group">
            <label>Burial Subplot</label>
            <input />
            <span><!--asp-validation--></span>
        </div>

        <div class="form-group">
            <label>Burial Depth</label>
            <input />
            <span><!--asp-validation--></span>
        </div>

        <div class="form-group">
            <label>South To Head</label>
            <input />
            <span><!--asp-validation--></span>
        </div>

        <div class="form-group">
            <label>South To Feet</label>
            <input />
            <span><!--asp-validation--></span>
        </div>

        <div class="form-group">
            <label>East To Head</label>
            <input />
            <span><!--asp-validation--></span>
        </div>

        <div class="form-group">
            <label>East To Feet</label>
            <input />
            <span><!--asp-validation--></span>
        </div>

        <div class="form-group">
            <label>Burial Situation</label>
            <input />
            <span><!--asp-validation--></span>
        </div>

        <div class="form-group">
            <label>Length of Remains</label>
            <input />
            <span><!--asp-validation--></span>
        </div>

        <div class="form-group">
            <label>Burial Number</label>
            <input />
            <span><!--asp-validation--></span>
        </div>

        <div class="form-group">
            <label>Year Found</label>
            <input />
            <span><!--asp-validation--></span>
        </div>

        <div class="form-group">
            <label>Month Found</label>
            <input />
            <span><!--asp-validation--></span>
        </div>

        <div class="form-group">
            <label>Day Found</label>
            <input />
            <span><!--asp-validation--></span>
        </div>

        <div class="form-group">
            <label>Head Direction</label>
            <select>
                <option value=""></option>
                <option value="East">East</option>
                <option value="West">West</option>
            </select>
            <span><!--asp-validation--></span>
        </div>

        <div class="form-group">
            <label>Preservation Index</label>
            <select>
                <option value=""></option>
                <option value="I">I</option>
                <option value="II">II</option>
                <option value="III">III</option>
                <option value="IV">IV</option>
                <option value="V">V</option>
            </select>
            <span><!--asp-validation--></span>
        </div>
    </div>

    <!--RESEARCHER BONE INFO FORM ***WORK IN PROGRESS-->
    <p>
        <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#boneInfo" aria-expanded="false" aria-controls="boneInfo">
            Bone Information
        </button>
    </p>
    <div class="collapse" id="boneInfo">
        <!--asp-action="AddRecord" method="post"-->
        <div class="form-group">
            <label>Basilar Suture</label>
            <select>
                <option value=""></option>
                <option value="Open">Open</option>
                <option value="Closed">Closed</option>
            </select>
            <span><!--asp-validation--></span>
        </div>

        <div class="form-group">
            <label>Ventral Arc</label>
            <input />
            <span><!--asp-validation--></span>
        </div>

        <div class="form-group">
            <label>Subpubic Angle</label>
            <input />
            <span><!--asp-validation--></span>
        </div>

        <div class="form-group">
            <label>Sciatic Notch</label>
            <input />
            <span><!--asp-validation--></span>
        </div>

        <div class="form-group">
            <label>Pubic Bone</label>
            <input />
            <span><!--asp-validation--></span>
        </div>

        <div class="form-group">
            <label>Preauricular Sulcus</label>
            <input />
            <span><!--asp-validation--></span>
        </div>

        <div class="form-group">
            <label>Medial IP Ramus</label>
            <input />
            <span><!--asp-validation--></span>
        </div>

        <div class="form-group">
            <label>Dorsal Pitting</label>
            <input />
            <span><!--asp-validation--></span>
        </div>

        <div class="form-group">
            <label>Foreman Magnum</label>
            <input />
            <span><!--asp-validation--></span>
        </div>

        <div class="form-group">
            <label>Femur Head</label>
            <input />
            <span><!--asp-validation--></span>
        </div>

        <div class="form-group">
            <label>Humerus Head</label>
            <input />
            <span><!--asp-validation--></span>
        </div>

        <div class="form-group">
            <label>Osteophytosis</label>
            <select>
                <option value=""></option>
                <option value="None">None</option>
                <option value="Slight">Slight</option>
                <option value="Moderate">Moderate</option>
                <option value="Heavy">Heavy</option>
            </select>
            <span><!--asp-validation--></span>
        </div>

        <div class="form-group">
            <label>Osteophytosis</label>
            <input type="text" list="osteophytosis" />
            <datalist id="osteophytosis">
                <option value=""></option>
                <option value="None">None</option>
                <option value="Slight">Slight</option>
                <option value="Moderate">Moderate</option>
                <option value="Heavy">Heavy</option>
            </datalist>
            <span><!--asp-validation--></span>
        </div>

        <div class="form-group">
            <label>Pubic Symphysis</label>
            <select>
                <option value=""></option>
                <option value="I">I</option>
                <option value="II">II</option>
                <option value="III">III</option>
                <option value="IV">IV</option>
                <option value="V">V</option>
            </select>
            <span><!--asp-validation--></span>
        </div>

        <div class="form-group">
            <label>Bone Length</label>
            <input />
            <span><!--asp-validation--></span>
        </div>

        <div class="form-group">
            <label>Medial Clavicle</label>
            <input />
            <span><!--asp-validation--></span>
        </div>

        <div class="form-group">
            <label>Iliac Crest</label>
            <input />
            <span><!--asp-validation--></span>
        </div>

        <div class="form-group">
            <label>Femur Diameter</label>
            <input />
            <span><!--asp-validation--></span>
        </div>

        <div class="form-group">
            <label>Femur Length</label>
            <input />
            <span><!--asp-validation--></span>
        </div>

        <div class="form-group">
            <label>Humerus</label>
            <input />
            <span><!--asp-validation--></span>
        </div>

        <div class="form-group">
            <label>Humerus Length</label>
            <input />
            <span><!--asp-validation--></span>
        </div>
    </div>
</form>

