@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col">
        <div class="carousel-caption"></div>
    </div>
    <div class="col">
        <div class="carousel-caption float-right">
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <h1 class="display-2 float-right">Life After Death</h1>
        </div>
    </div>
</div>
<img src="~/img/pyramid2.jpg" class="img-fluid pyramid-bg" />

<div class="row m-1 p-1">
    <div class="col-3">
        <div class="container text-center">
            <h1 class="display-4 text-center">BYU Excavations</h1>
            <img class="img-fluid rounded border border-secondary p-2" src="~/img/byuexcavationsfavicon.png" width="200" />
        </div>
    </div>
    <div class="col-9 border-left border-dark">
        <p class="text-body">Dr. Kerry Muhlestein, director of the BYU Egypt Excavation Project and associate professor in the Department of Ancient Scripture at Brigham Young University, 
        and R. Paul Evans, Assistant Professor of Microbiology and Molecular Biology, have been compiling research on mummy data from the Fag el-Gamous website for years. 
        Their research started out with pens and papers.</p>
        <br />
        <div class="row border border-light p-3">
            <div class="col container">
                <img class="img-same rounded border border-secondary" src="~/img/Kerry-Muhlestein-teaching.jpeg" />
            </div>
            <div class="col container rounded">
                <img class="img-same rounded border border-secondary" src="~/img/Zind-PauandJaelynEvans-Provo.jpg" />
            </div>
        </div>
        <br />
        <p>This summer, we are proud to present the next step in accelerating their research, giving new life to the forgotten bodies in the Egyptian desert.</p>
    </div>
</div>

