@{
    ViewData["Title"] = "Home Page";
}

<img src="~/img/pyramid2.jpg" class="pyramid-bg" />
<div class="row">
    <div class="col-12">
        <div class="carousel-caption"></div>
    </div>
    <div class="col-12 text-right">
        <div class="carousel-caption float-lg-right">
            <h1 class="display-2 float-right">Life After Death</h1>
        </div>
    </div>
</div>

<br />

<div class="container">
    <div class="row">
        <div class="col-3">
            <img src="~/img/byuexcavationsfavicon.png" width="250" />
        </div>
        <div class="col-8 text-center">
            <h3 class="display-3">BYU Excavations - Egypt</h3>
        </div>
    </div>
</div>


<p>This is home page text</p>
<br />
<br />
<p>Would you like to see some more text?????</p>
<br />
<br />
<br />
<br />
<p>This is home page text</p>
<br />
<br />
<p>Would you like to see some more text?????</p>
<br />
<br />
<br />
<br />
<p>This is home page text</p>
<br />
<br />
<p>Would you like to see some more text?????</p>
<br />
<br />
<br />
<br />
<p>This is home page text</p>
<br />
<br />
<p>Would you like to see some more text?????</p>
<br />
<br />
<br />
<br />
<p>This is home page text</p>
<br />
<br />
<p>Would you like to see some more text?????</p>
<br />
<br />
<br />
<br />
<p>This is home page text</p>
<br />
<br />
<p>Would you like to see some more text?????</p>
<br />
<br />
<br />
<br />
<p>This is home page text</p>
<br />
<br />
<p>Would you like to see some more text?????</p>
<br />
<br />
<br />
<br />


