@{
    ViewData["Title"] = "Home Page";
}

<img src="~/img/pyramid2.jpg" class="img-fluid pyramid-bg" />

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <br />
    <br />
</div>
<br />
<br />
<div>
    <p>This is a bunch of typing that you don't need to worry about. I just need some volume in here to test what I'm trying to do.</p>
    <br />
    <br />
    <p>Look at that! Even more words!</p>
    <br />
    <br />
    <p>This is a bunch of typing that you don't need to worry about. I just need some volume in here to test what I'm trying to do.</p>
    <br />
    <br />
    <p>Look at that! Even more words!</p>
    <br />
    <br />
    <p>This is a bunch of typing that you don't need to worry about. I just need some volume in here to test what I'm trying to do.</p>
    <br />
    <br />
    <p>Look at that! Even more words!</p>
    <br />
    <br />
    <p>This is a bunch of typing that you don't need to worry about. I just need some volume in here to test what I'm trying to do.</p>
    <br />
    <br />
    <p>Look at that! Even more words!</p>
    <br />
    <p>This is a bunch of typing that you don't need to worry about. I just need some volume in here to test what I'm trying to do.</p>
    <br />
    <br />
    <p>Look at that! Even more words!</p>
    <br />
    <br />
    <p>This is a bunch of typing that you don't need to worry about. I just need some volume in here to test what I'm trying to do.</p>
    <br />
    <br />
    <p>Look at that! Even more words!</p>
    <br />
    <br />
    <br />
</div>
