@{
    ViewData["Title"] = "Home Page";
}

<img src="~/img/pyramid2.jpg" class="pyramid-bg" />
<div class="row">
    <div class="col-12">
        <div class="carousel-caption"></div>
    </div>
    <div class="col-12 text-right">
        <div class="carousel-caption float-lg-right">
            <h1 class="display-2 float-right">Life After Death</h1>
        </div>
    </div>
</div>
<span class="bg-light"><h4 class="text-center text-muted">Welcome to the BYU Fag el-Gamous Excavation Site</h4></span>


<p>This is home page text</p>
<br />
<br />
<p>Would you like to see some more text?????</p>
<br />
<br />
<br />
<br />
<p>This is home page text</p>
<br />
<br />
<p>Would you like to see some more text?????</p>
<br />
<br />
<br />
<br />
<p>This is home page text</p>
<br />
<br />
<p>Would you like to see some more text?????</p>
<br />
<br />
<br />
<br />
<p>This is home page text</p>
<br />
<br />
<p>Would you like to see some more text?????</p>
<br />
<br />
<br />
<br />
<p>This is home page text</p>
<br />
<br />
<p>Would you like to see some more text?????</p>
<br />
<br />
<br />
<br />
<p>This is home page text</p>
<br />
<br />
<p>Would you like to see some more text?????</p>
<br />
<br />
<br />
<br />
<p>This is home page text</p>
<br />
<br />
<p>Would you like to see some more text?????</p>
<br />
<br />
<br />
<br />


